 .parent {
     @apply fixed w-[100vw] h-[100vh] z-40 m-0;
     background-color: rgba(55, 55, 55, 0.5);
 }

 .Child {
     @apply flex flex-col bg-white w-[80%] min-h-[70vh] z-50 text-[20px] text-red-500 fixed right-[10vw];
     transition: all 2s ease-in-out 1s;
 }

 .NavCss {
     @apply flex justify-between p-3 items-center bg-white sticky top-0 z-50;
     box-shadow: 1px 1px 1px rgba(55, 55, 55, 0.7);
 }